$white: #fff;
$white-100: #ACABBF;
$white-300: #D1D1D7;
$blue-300: #9A9CCB;
$blue-300: #8F91D0;
$blue-400: #212246;
$blue-600: #4C5077;
$blue-700: #282B57;
$blue-800: #1F2143;
$blue-900: #171836;
$red-500: #F5443B;
$green-200: #3BF5BD;

$white-opacity-2: rgba(255, 255, 255, 0.2);
$white-opacity-4: rgba(255, 255, 255, 0.4);
$white-opacity-6: rgba(255, 255, 255, 0.6);
$white-opacity-8: rgba(255, 255, 255, 0.8);
$blue-opacuty: rgba(49, 52, 104, 0.8);
$blue-opacuty-2: rgba(40, 43, 87, 0.2);
$blue-opacuty-6: rgba(154, 156, 203, 0.6);
$blue-opacuty-8: rgba(44, 45, 93, 0.8);



%inter {
  font-family: 'Inter', sans-serif;
}

