.featured {
  padding: 0 0 66px 0;
  position: relative;

  @include r-width($xl) {
    padding: 0 0 35px 0;
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/Vector-1.png);
    background-repeat: no-repeat;
    width: 540px;
    height: 718px;
    right: 0;
    top: -65px;

    @include r-width($xl) {
      top: -95px;
    }

    @include r-width($lg) {
      top: -97px;
    }

    @include r-width($md) {
      width: 254px;
    }
  }


  &__items {
    padding: 44px 0 103px 60px;
    display: flex;
    justify-content: space-around;
    

    @include r-width($lg) {
      padding: 44px 0 49px 60px;
    }

    @include r-width($md) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 305px;
    position: relative;

    @include r-width($lg) {
      width: 216px;
    }

    @include r-width($md) {
      width: 400px;
    }

    @include r-width($md) {
      width: 226px;
    }

    &:not(:last-child) {

      @include r-width($md) {
        margin-bottom: 23px;
      }
    }

    &--people::after,
    &--teache::after,
    &--heart-book::after {
      content: '';
      position: absolute;  
      width: 65px;
      height: 65px;
      top: 0;
      transform: translate(-70px, -20px);
    }

    &--people::after {
      background-image: url(../images/svg/people.svg);
    }

    &--teache::after {
      background-image: url(../images/svg/teache.svg);
    }

    &--heart-book::after {
      background-image: url(../images/svg/book-heart.svg);
    }
  }

  &__title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: $white-opacity-8;
    margin-bottom: 23px;

    @include r-width($lg) {
      margin-bottom: 15px;
    }
  }

  &__text {
    line-height: 1.7;
    color: $white-opacity-6;
  }
}