.specialization {
  padding-bottom: 65px;
  position: relative;

  &::after {
     content: '';
     position: absolute;
     background-image: url(../images/Vector-2.png);
     background-repeat: no-repeat;
     width: 650px;
     height: 718px;
     right: 0;
     top: -54px;
  }

  &::before {
     content: '';
     position: absolute;
     background-image: url(../images/Vector-3.png);
     background-repeat: no-repeat;
     width: 428px;
     height: 681px;
     bottom: -300px;
     left: -13px;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    color: $white-opacity-8;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 10;
  }

  &__text {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-bottom: 84px;
  }

  &__items {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
    margin-bottom: 55px; 
    height: 480px;
    
  }

  &__item {
    width: 276px;
    height: 416px;
    background-color: $blue-opacuty-2;
    border-radius: 20px;
    border: 3px solid $blue-400;
    padding: 12px 12px 20px 12px;
    transition: height 0.6s ease-in-out;
    z-index: 10;
    
    &:hover {
      height: 480px;

      .specialization__btn {
        transform: translateY(-34px);
      }
    }

    &:active {
      height: 519px;
    }
  }

  &__top {
    position: relative;
    margin-bottom: 24px;
  }

  &__num {
    position: absolute;
    background-color: $white-opacity-2;
    border-radius: 8px;
    padding: 6px 16px;
    bottom: 10px;
    left: 10px;
  }

  &__info {
    margin-bottom: 23px;
  }

  &__class {
    font-size: 12px;
    font-weight: 500;
    color: $green-200;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 600;
    color: $white-opacity-8;
    margin-bottom: 12px;
  }

  &__info-text {
    border-bottom: 1px solid $blue-400;
    padding-bottom: 20px;
  }

  &__mentor {
    display: grid;
    grid-template-columns: 59px 1fr;
  }

  &__name {
    font-weight: 500;
    color: $white-opacity-8;
  }

  &__specialty {
    font-size: 12px;
    grid-column-end: 3;
    position: relative;
    top: -20px;
    margin-bottom: 43px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    transform: translateY(300px);
    transition: transform 0.5s ease-in-out;
  }

  &__button {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    padding: 12px 32px;
  }
}