//Тут даже можешь не смотеть, без понятия как, столько врмени убил на это, слайдер тоже отказываеться работать нормально, не понимаю как его тоже сделать, зашел в тупик уже с этим блоком, как правильно реализовать этот блок, особенно с видео.
.webinar {
  padding: 109px 0 163px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/Vector-4.png);
    background-repeat: no-repeat;
    width: 680px;
    height: 700px;
    top: -3px;
    left: -11px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    position: relative;
    margin-bottom: 104px;
    z-index: 99;
  }

  &__items {
    
  }

  &__item {
    background-image: url(../images/bg-video.png);
    background-repeat: no-repeat;
    background-position: top;
    width: 622px;
    height: 424px;
    border-radius: 24px;
    position: relative;
    min-width: 0;


    &::before {
      content: '';
      // Почему градиент не работает с bg-color?
      background: $gradient;
      position: absolute;
      width: 622px;
      height: 424px;
      z-index: 1;
      border-radius: 24px;
    }
  }

  &__video-item {
    position: relative;
    max-width: 622px;
    object-fit: cover;
    height: 424px;
    border-radius: 24px;
    z-index: 2;
  }

  &__video-text {
    font-size: 20px;
    font-weight: 500;
    color: $white-opacity-6;
    position: absolute;
    top: 27px;
    left: 43px;
    z-index: 2;
  }

  &__play {
    position: absolute;
    top: 35%;
    left: 43%;
    background-color: rgba(226, 226, 244, 0.3);
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  &__play-icon {
    position: absolute;
    top: 25%;
    left: 25px;
    width: 44px;
    height: 46px;
    z-index: 2;
  }

  &__progress {
    position: absolute;
    bottom: 65px;
    z-index: 1;
    
  }

  &__progress-bar {
    width: 618px;
    z-index: 2;
  }

  &__time {
    position: absolute;
    bottom: 27px;
    left: 43px;
    z-index: 2;
  }

  &__sound {
    position: absolute;
    bottom: 22px;
    right: 95px;
    z-index: 3;
  }

  &__sound-icon {
    width: 23px;
    height: 23px;
    fill: none;
    stroke: $white-opacity-6;
    stroke-width: 2;
  }

  &__increase {
    position: absolute;
    bottom: 22px;
    right: 50px;
    z-index: 3;
  }

  &__increase-icon {
    fill: $white-opacity-6;
    width: 23px;
    height: 23px;
    
  }

  
}
