.webinar {
  padding: 108px 0 163px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/Vector-4.png);
    background-repeat: no-repeat;
    width: 680px;
    height: 700px;
    top: -3px;
    left: -11px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    position: relative;
    margin-bottom: 84px;
    z-index: 99;
  }

  &__items {
    width: 1260px;
    position: relative;
    z-index: 99;
  }

  &__inner {
    width: 1200px;
    height: 424px;
    margin: 0 auto;
  }

  &__item {
    width: 622px; 
    height: 424px;
    position: relative;
    background: $gradient;
    margin: 0 auto;
    border-radius: 23px;

    &::before {
      content: '';
      position: absolute;
      background: $gradient;
      width: 624px;
      height: 426px;
    }
  }

  &__slider-one {
    width: 622px;
    height: 424px;
  }

  &__slider-two {
    width: 622px;
    height: 424px;
  }

  &__slider-three {
    width: 622px;
    height: 424px;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    color: $white-opacity-8;
    position: absolute;
    top: 30px;
    left: 50px;
  }

  &__play-btn {
    position: absolute;
    display: block;
    background-color: $white-opacity-2;
    border: 1px solid $white-opacity-2;
    border-radius: 50%;
    width: 94px;
    height: 94px;
    top: 40%;
    left: 43%;
  }

  &__play {
    width: 44px;
    height: 44px;
    fill: $blue-opacuty-8;
    position: absolute;
    top: 26px;
    left: 28px;
  }

  &__porgress {
    width: 617px;
    position: absolute;
    bottom: 70px;
  }

  &__time {
    font-weight: 500;
    font-size: 20px;
    color: $white-opacity-8;
    position: absolute;
    bottom: 27px;
    left: 43px;
  }

  &__volume-btn {
    position: absolute;
    bottom: 22px;
    right: 90px;
  }

  &__volume {
    fill: none;
    stroke: $white-opacity-8;
    stroke-width: 2px;
    width: 23px;
    height: 23px;
  }

  &__maximize-btn {
    position: absolute;
    bottom: 22px;
    right: 50px;
  }

  &__maximize {
    fill: $white-opacity-8;
    width: 23px;
    height: 23px;
  }

  &__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: $white-300;
    position: absolute;
    right: 127px;
    bottom: 56px;
    z-index: 999;
  }

  &__arrow {
    fill: none;
    stroke: $white-300;
    stroke-width: 2px;
    width: 24px;
    height: 24px;
  }

}



