<section class="apps">
  <div class="container">
    <div class="apps__inner">
      <div class="apps__mobile">
        <h2 class="apps__title title">
          Get Our Apps, Now!
        </h2>
        <div class="apps__text text">
          <p>Reach out our apps everywhere and everytime with Sinauw Mobile Application.</p>
        </div>
        <div class="apps__wrapper">
          <a class="apps__link" href="#">
            <img src="../images/apps/goole-play.png" alt="google play">
          </a>
          <a class="apps__link" href="#">
            <img src="../images/apps/app-store.png" alt="app store">
          </a>
        </div>
      </div>
      <div class="apps__skill">
        <div class="apps__skill-inner">
          <div class="apps__notify">
            <div class="apps__user">
              <p class="apps__name">Hello, Alexander</p>
              <span class="apps__level">
                Premium Member
              </span>
            </div>
            <div class="apps__content">
              <h3 class="apps__subtilte">
                Grow Your Skill, Join Now!
              </h3>
              <div class="apps__info">
                <p>We have something big for you who want to level up!</p>
              </div>
            </div>
            <div class="apps__skill-bottom">
              <div class="apps__progress">
                <p class="apps__percentages-text">Courses Progress</p>
                <button class="apps__btn-icon">
                  <svg class="apps__icon">
                    <use href="images/sprite.svg#arrow-right"></use>
                  </svg>
                </button>
              </div>
              <div class="apps__collection">
                <p class="apps__percentages-text">Class Collections</p>
                <button class="apps__btn-icon">
                  <svg class="apps__icon">
                    <use href="images/sprite.svg#arrow-right"></use>
                  </svg>
                </button>             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>