<section class="featured">
  <div class="container">
      <ul class="featured__items">
        <li class="featured__item featured__item--people">
          <span class="featured__title">
            Get New Friends
          </span>
          <div class="featured__text">
            You will meet new friends in some of classes that you take. Say hello to them and make friends, it will be
            so much warm friendship!
          </div>
        </li>
        <li class="featured__item featured__item--teache">
          <span class="featured__title">
            Expert and Fun Mentor
          </span>
          <div class="featured__text">
            Learn with earnest and don’t forget to get relax too. Learn and enjoy the materials or classes with our
            expert mentors.
          </div>
        </li>
        <li class="featured__item featured__item--heart-book">
          <span class="featured__title">
            Flexible Access
          </span>
          <div class="featured__text">
            You can access materials or classes easily by our website also mobile. Access it everywhere and everytime,
            no limit for you to learn!
          </div>
        </li>
      </ul>
  </div>
</section>