<section class="featured">
  <h2 class="sr-only">Featured</h2>
  <div class="container">
    <ul class="featured__items">
      <li class="featured__item featured__item--people">
        <h3 class="featured__title">
          Get New Friends
        </h3>
        <div class="featured__text">
          <p>
            You will meet new friends in some of classes that you take. Say hello to them and make friends, it will be
            so much warm friendship!
          </p>
        </div>
      </li>
      <li class="featured__item featured__item--teache">
        <h3 class="featured__title">
          Expert and Fun Mentor
        </h3>
        <div class="featured__text">
          <p>
            Learn with earnest and don’t forget to get relax too. Learn and enjoy the materials or classes with our
            expert mentors.
          </p>
        </div>
      </li>
      <li class="featured__item featured__item--heart-book">
        <h3 class="featured__title">
          Flexible Access
        </h3>
        <div class="featured__text">
          <p>
            You can access materials or classes easily by our website also mobile. Access it everywhere and everytime,
            no limit for you to learn!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>