<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__wrapper">
        <a class="footer__logo logo" href="#">
          <img src="images/logo.svg" alt="logo" width="117" height="56">
        </a>
        <div class="footer__question">
          Any feedback or questions?Contact us on our social media
        </div>
        <div class="footer__social">
          <svg class="footer__icon footer__icon--facebook">
            <use href="images/sprite.svg#facebook"></use>
          </svg>
          <svg class="footer__icon footer__icon--twitter">
            <use href="images/sprite.svg#twitter"></use>
          </svg>
          <svg class="footer__icon footer__icon--instagram">
            <use href="images/sprite.svg#instagram"></use>
          </svg>
        </div>
      </div>
      <div class="footer__content">
        <div class="footer__nav">
          <ul class="footer__items">
            <li class="footer__item">
              <h5 class="footer__title">
                Menu
              </h5>
            </li>
            <li class="footer__item">             
                <a class="footer__link" href="#">Home</a>              
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Courses</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Webinar</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <ul class="footer__items">
            <li class="footer__item">
              <h5 class="footer__title">
                Services
              </h5>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Materials Update</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Trusted Mentor</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Free E-book</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Meeting</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <ul class="footer__items">
            <li class="footer__item">
              <h5 class="footer__title">
                Further Information
              </h5>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Terms & Conditions</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <ul class="footer__items">
            <li class="footer__item">
              <h5 class="footer__title">
                Apps Download
              </h5>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Google Play Store</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">App Store</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="footer__copy">
        Copyright&copy
        2021 Sinauw. All Rights Reserved.
      </div>
  </div>
</footer>