<section class="pricing">
  <div class="container">
    <h2 class="pricing__title title">
      Course Pricing
    </h2>
    <div class="pricing__text text">
      Choose pricing that suits to your need.
    </div>
    <div class="pricing__list">
      <ul class="pricing__items">
        <li class="pricing__item">
          <div class="pricing__top pricing__top--star">
            <h4 class="pricing__top-title">
              Free
            </h4>
            <span class="pricing__price"><i class="pricing__price-up">$</i>0</span>
            <span class="pricing__months">/ month</span>
          </div>
          <div class="pricing__content">
            <ul class="pricing__elements">
              <li class="pricing__element">Free e-book for every class</li>
              <li class="pricing__element">Materials update every day</li>
              <li class="pricing__element">Free download material videos</li>
              <li class="pricing__element">Unlock 5 material videos</li>
            </ul>
          </div>
          <div class="pricing__bottom">
            <button class="pricing__btn button" type="submit" disabled>Your Current Package</button>
          </div>
        </li>
        <li class="pricing__item">
          <div class="pricing__top pricing__top--key">
            <h4 class="pricing__top-title">
              Express
            </h4>
            <span class="pricing__price"><i class="pricing__price-up">$</i>75</span>
            <span class="pricing__months">/ month</span>
          </div>
          <div class="pricing__content">
            <ul class="pricing__elements">
              <li class="pricing__element">Free e-book for every class</li>
              <li class="pricing__element">Materials update every day</li>
              <li class="pricing__element">Free download material videos</li>
              <li class="pricing__element">Meeting 2 times a week</li>
              <li class="pricing__element">Unlock 15 material videos</li>
            </ul>
          </div>
          <div class="pricing__bottom">
            <button class="pricing__btn button" type="submit">Buy Express</button>
          </div>
        </li>
        <li class="pricing__item">
          <span class="pricing__corner">Popular</span>
          <div class="pricing__top pricing__top--crown">
            <h4 class="pricing__top-title">
              Premium
            </h4>
            <span class="pricing__price"><i class="pricing__price-up">$</i>115</span>
            <span class="pricing__months">/ month</span>
          </div>
          <div class="pricing__content">
            <ul class="pricing__elements">
              <li class="pricing__element">Free e-book for every class</li>
              <li class="pricing__element">Materials update every day</li>
              <li class="pricing__element">Free download material videos</li>
              <li class="pricing__element">Private chat with mentor</li>
              <li class="pricing__element">Meeting 3 times a week</li>
              <li class="pricing__element">Unlock up to 30 material videosk</li>
              <li class="pricing__element">Unlimited saved class</li>
            </ul>
          </div>
          <div class="pricing__bottom">
            <button class="pricing__btn button" type="submit">Buy Express</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>