<section class="skills">
  
  <div class="container">
    <div class="skills__inner">
      <div class="skills__students">
        <img class="skills__img" src="images/skills/student.png" alt="student" width="785" height="752">
        <div class="skills__join">
          <ul class="skills__items">
            <li class="skills__item skills__item--user1">
              <a href="" class="skills__link">
                <img src="images/skills/1.png" alt="join" width="52" height="52">
              </a>
            </li>
            <li class="skills__item skills__item--user2">
              <a class="skills__link" href="#">
                <img src="images/skills/2.png" alt="join" width="52" height="52">
              </a>
            </li>
            <li class="skills__item skills__item--user3">
              <a class="skills__link" href="#">
                <img src="images/skills/3.png" alt="join" width="52" height="52">
              </a>
            </li>
            <li class="skills__item skills__item--user4">
              <a class="skills__link" href="#">
                <img src="images/skills/4.png " alt="join" width="52" height="52">
              </a>
            </li>
            <li class="skills__item skills__item--user5">
              <a class="skills__link" href="#">
                <img src="images/skills/5.png" alt="join" width="52" height="52">
                <svg class="skills__icon">
                  <use href="images/sprite.svg#plus"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="skills__text">
            More than 80k+
            Students <span class="skills__last">joined!</span>
          </p>
        </div>
      </div>
      <div class="skills__advance">
        <h1 class="skills__title">
          Grow Your Skills To Advance Your Career Path.
        </h1>
        <span class="skills__phrase">
          We have something big for you who want to level up!
        </span>
        <form class="skills__search">
          <input class="skills__input" type="text" name="search" id="search" placeholder="What do you want to learn...">
          <input class="skills__button" type="submit" name="button" id="button">
          <a class="skills__button-link" href="#">
            <svg class="skills__button-icon">
              <use href="images/sprite.svg#search"></use>
            </svg>         
          </a>
        </form>
        <span class="skills__subtitle">
          Suggestions
        </span>
        <div class="skills__suggestion">
          <ul class="skills__directions">
            <li class="skills__direction">
              <a class="skills__direction-link" href="#">
                UI UX Design
              </a>
            </li>
            <li class="skills__direction">
              <a class="skills__direction-link" href="#">
                CSS Fundamental
              </a>
            </li>
            <li class="skills__direction">
              <a class="skills__direction-link" href="#">
                3D Design Illustration
              </a>
            </li>
            <li class="skills__direction">
              <a class="skills__direction-link" href="#">
                Website Development
              </a>
            </li>
            <li class="skills__direction">
              <a class="skills__direction-link" href="#">
                Logo Design
              </a>
            </li>
            <li class="skills__direction">
              <a class="skills__direction-link" href="#">
                Icon Design
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>




</section>