<section class="specialization">
  <div class="container">
    <h2 class="specialization__title">
      What Do You Want to Learn?
    </h2>
    <span class="specialization__text">
      Choose the right class as you need. Then enjoy studying.
    </span>
      <ul class="specialization__items">
        <li class="specialization__item">
          <div class="specialization__top">
            <img src="../images/specialization/Rectangle.png" alt="technology" width="252" height="169">
            <span class="specialization__num">
              12 Videos
            </span>
          </div>
          <div class="specialization__info">
            <span class="specialization__class">
              Technology
            </span>
            <h3 class="specialization__subtitle">
              Digital Marketing Strategy
            </h3>
            <div class="specialization__info-text">
              This course aims to give you deeper understanding of core processes ...
            </div>
          </div>
          <div class="specialization__mentor">
            <img src="../images/specialization/mentor-1.png" alt="mentor" width="40" height="40">
            <p class="specialization__name">
              Joey Piere
            </p>
            <p class="specialization__specialty">
              Mentor
            </p>
          </div>
          <button class="specialization__btn button" type="button">Access Class</button>
        </li>
        <li class="specialization__item">
          <div class="specialization__top">
            <img src="../images/specialization/Rectangle-2.png" alt="technology" width="252" height="169">
            <span class="specialization__num">
              7 Videos
            </span>
          </div>
          <div class="specialization__info">
            <span class="specialization__class">
              Design
            </span>
            <h3 class="specialization__subtitle">
              Figma Fundamental
            </h3>
            <div class="specialization__info-text">
              These lessons and exercises will help you start designing with Figma ...
            </div>
          </div>
          <div class="specialization__mentor">
            <img src="../images/specialization/mentor-2.png" alt="mentor" width="40" height="40">
            <p class="specialization__name">
              Araya Sheila
            </p>
            <p class="specialization__specialty">
              Mentor
            </p>
          </div>
          <button class="specialization__btn button" type="button">Access Class</button>
        </li>
        <li class="specialization__item">
          <div class="specialization__top">
            <img src="../images/specialization/Rectangle-3.png" alt="technology" width="252" height="169">
            <span class="specialization__num">
              10 Videos
            </span>
          </div>
          <div class="specialization__info">
            <span class="specialization__class">
              Coding
            </span>
            <h3 class="specialization__subtitle">
              HTML Fundamental
            </h3>
            <div class="specialization__info-text">
              Well organized and easy to make you understand tutorials with lots of ...
            </div>
          </div>
          <div class="specialization__mentor">
            <img src="../images/specialization/mentor-3.png" alt="mentor" width="40" height="40">
            <p class="specialization__name">
              Ellisa Ruth
            </p>
            <p class="specialization__specialty">
              Mentor
            </p>
          </div>
          <button class="specialization__btn button" type="button">Access Class</button>
        </li>
        <li class="specialization__item">
          <div class="specialization__top">
            <img src="../images/specialization/Rectangle.png" alt="technology" width="252" height="169">
            <span class="specialization__num">
              16 Videos
            </span>
          </div>
          <div class="specialization__info">
            <span class="specialization__class">
              Coding
            </span>
            <h3 class="specialization__subtitle">
              Android App Development
            </h3>
            <div class="specialization__info-text">
              Take your Android coding skills to the next level, advanced Android app ...
            </div>
          </div>
          <div class="specialization__mentor">
            <img src="../images/specialization/mentor-4.png" alt="mentor" width="40" height="40">
            <p class="specialization__name">
              Wendy Troye
            </p>
            <p class="specialization__specialty">
              Mentor
            </p>
          </div>
          <button class="specialization__btn button" type="button">Access Class</button>
        </li>
      </ul> 
      <button class="specialization__button button">Show All Classes</button>
  </div>
</section>