<section class="webinar">
  <div class="container">
    <h2 class="webinar__title title">
      Live Online Webinar
    </h2>
    <div class="webinar__text text">
      You can stream Webinar live on our apps. Stay update on our Webinar, it’s Free!
    </div>
    <ul class="webinar__items">
      <div class="webinar__inner">
        <li class="webinar__item webinar__slider-one">
          <div class="webinar__name">
            How To Build Portofolio as A Designer
          </div>
          <img src="../images/bg-video.png" alt="bg-video">
          <button class="webinar__play-btn" type="button">
            <svg class="webinar__play">
              <use href="images/sprite.svg#play"></use>
            </svg>
          </button>
          <div class="webinar__nav">
            <input class="webinar__porgress styled-slider slider-progress" type="range" name="progress" id="progress">
            <span class="webinar__time">0:49 / 3:12 </span>
            <button class="webinar__volume-btn" type="button">
              <svg class="webinar__volume">
                <use href="images/sprite.svg#volume"></use>
              </svg>
            </button>
            <button class="webinar__maximize-btn" type="button">
              <svg class="webinar__maximize">
                <use href="images/sprite.svg#maximize"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="webinar__item webinar__slider-two">
          <div class="webinar__name">
            User Interface Design Fundamental
          </div>
          <img src="../images/bg-video.png" alt="bg-video">
          <button class="webinar__play-btn" type="button">
            <svg class="webinar__play">
              <use href="images/sprite.svg#play"></use>
            </svg>
          </button>
          <div class="webinar__nav">
            <input class="webinar__porgress styled-slider slider-progress" type="range" name="progress" id="progress">
            <span class="webinar__time">0:49 / 3:12 </span>
            <button class="webinar__volume-btn" type="button">
              <svg class="webinar__volume">
                <use href="images/sprite.svg#volume"></use>
              </svg>
            </button>
            <button class="webinar__maximize-btn" type="button">
              <svg class="webinar__maximize">
                <use href="images/sprite.svg#maximize"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="webinar__item webinar__slider-three">
          <div class="webinar__name">
            User Interface Design Fundamental
          </div>
          <img src="../images/bg-video.png" alt="bg-video">         
            <button class="webinar__play-btn" type="button">
              <svg class="webinar__play">
                <use href="images/sprite.svg#play"></use>
              </svg>
            </button>
          <div class="webinar__nav">  
            <input class="webinar__porgress styled-slider slider-progress" type="range" name="progress" id="progress">
            <span class="webinar__time">0:49 / 3:12 </span>
            <button class="webinar__volume-btn" type="button">
              <svg class="webinar__volume">
                <use href="images/sprite.svg#volume"></use>
              </svg>
            </button>
            <button class="webinar__maximize-btn" type="button">
              <svg class="webinar__maximize">
                <use href="images/sprite.svg#maximize"></use>
              </svg>
            </button>
          </div>
        </li>
      </div>
    </ul>
    <a class="webinar__link" href="#">
      See more webinar videos
      <svg class="webinar__arrow">
        <use href="images/sprite.svg#arrow"></use>
      </svg>
    </a>
  </div>
</section>