<section class="webinar">
  <div class="container">
    <h2 class="webinar__title">
      Live Online Webinar
    </h2>
    <div class="webinar__text">
      You can stream Webinar live on our apps. Stay update on our Webinar, it’s Free!
    </div>
    <div class="webinar__video">
      <ul class="webinar__items">
        <li class="webinar__item">
          <video class="webinar__video-item" src=""></video>
          <div class="webinar__controls">
            .webinar__progress
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>