<!-- При добавлении 2 видео, cлетает video-js и если листать слайд, справой стороны он вообще не работает, даже если не
добавлять второе видео, что может быть? -->
<section class="webinar" id="webinar">
  <div class="container">
    <h2 class="webinar__title title">
      Live Online Webinar
    </h2>
    <div class="webinar__text text">
      <p>You can stream Webinar live on our apps. Stay update on our Webinar, it’s Free!</p>
    </div>
    <div class="webinar__inner">
      <ul class="webinar__items">
        <li class="webinar__item webinar__slider-one">
          <div class="webinar__name">
            <p>User Interface Design Fundamental</p>
          </div>
          <video class="video-js webinar__video" id="my-player" controls
            poster="../../images/bg-video.png">
            <source src="../../video/Python.mp4" type="video/mp4">
          </video>
        </li>
        <li class="webinar__item webinar__slider-two">
          <div class="webinar__name">
            <p>User Interface Design Fundamental</p>
          </div>
          <!-- <video class="video-js webinar__video" id="my-player-two" controls
            poster="../../images/bg-video.png">
            <source src="../../video/Python.mp4" type="video/mp4">
          </video> -->
        </li>
        <li class="webinar__item webinar__slider-three">
          <div class="webinar__name">
            <p>User Interface Design Fundamental</p>
          </div>
           <!-- <video class="video-js webinar__video" id="my-player-three" controls
             poster="../../images/bg-video.png">
             <source src="../../video/Python.mp4" type="video/mp4">
           </video> -->
        </li>
      </ul>
    </div>
    <a class="webinar__link" href="#">
      See more webinar videos
      <svg class="webinar__arrow">
        <use href="images/sprite.svg#arrow"></use>
      </svg>
    </a>
  </div>
</section>

